<% content_for :js do %>
    <% shoppe_stripe_javascript %>
<% end %>


<% @page_title = 'Checkout' %>
<%= render 'orders/checkout_sidebar' %>
<div class="checkout">
  <p class="secure">Secure connection</p>

  <h3>Pay using your credit/debit card</h3>
  <%= form_tag({:controller => 'orders', :action => 'payment'}, :id => 'stripeForm', :class => 'stripeForm') do %>
      <%= hidden_field_tag 'stripe_token', '', name: 'stripe_token', data: {stripe: 'token'} %>
      <%= field_set_tag nil, :class => 'payment' do %>
          <dl>
            <dt>
              <%= label_tag 'card_number', 'Kortnummer' %>
            </dt>
            <dd class="number">
              <%= text_field_tag 'card_number', '', data: {stripe: 'number'}, name: nil %>
            </dd>
          </dl>
          <dl>
            <dt>
              <%= label_tag 'exp_month', 'Giltighet (mm/yyyy)' %>
            </dt>
            <dd class="expiry">
              <%= select_tag nil, options_for_select((1..12).to_a), data: {stripe: 'exp_month'} %>
              <%= select_tag nil, options_for_select((Date.today.year..Date.today.year + 10).to_a), data: {stripe: 'exp_year'} %>
            </dd>
          </dl>
          <dl>
            <dt>
              <%= label_tag 'cvc', 'Security Code' %>
            </dt>
            <dd class="cvc">
              <%= text_field_tag 'cvc', '', :name => nil, maxlength: 4, data: {stripe: 'cvc'} %>
              <span>This is the 3 digit number on the back of your card.</span>
            </dd>
          </dl>
      <% end %>
      <p class="submit">
        <%= submit_tag 'Granska din order', class: 'review' %>
      </p>
  <% end %>
</div>
