- active_nav_item :catalogue
- @page_title = 'Katalog'
.categories
  %ul
    - for category in @product_categories
      %li
        %div.img{:style => category.image ? "background-image:url(#{category.image.path})" : 'background-color:#efefef'}
        .space
          %h4= link_to category.name, products_path(category.permalink)
          %small{style: 'font-size: 10px;'}= category.products.any? ? "Det finns #{category.products.count} produkter i denna kategori" : 'Inga produkter i denna kategori...'
          %p= category.description
      